body {
    background-color: white;
    padding: 0;
    margin: 0;
    font-family: "Laila", serif;
    font-weight: 300;
    font-style: normal;
}
.contLogin{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
.contRegistro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
.titulo{
    font-family: "Laila", serif;
    font-weight: 700;
}
.titulo h1{
    font-size: 175%;
}

.contImgs{
    padding: 5%;
}
.logos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-items:center;
}
.logos img{
    padding: 15%;
    min-width: 100%;
    max-width: 100%;
}
.imgPrincipal img{
    min-width: 100%;
    max-width: 100%;
}
.contForm{
    background-color: #A41D23;
    color: white;
    font-family: "Laila", serif;
    font-weight: 700;
    font-style: normal;
    padding: 15%;
    line-height: 45px;
}

.tituloLogin{
    margin-bottom: 35px;
}
.formulario button{
    background-color: #1C3F59;
    color: white;
    border: transparent 1px solid;
    width: 100%;
    border-radius: 5px;
}
.formulario button:hover{
    background-color: white;
    color: black;
    border: #1C3F59 1px solid;
}
.formulario{
    margin-bottom: 25px;
    text-align: left;
}
.formulario label{
    font-size: 20px;
}

.contForm a{
    text-decoration: none;
    color: white;
    text-decoration: underline;
    font-family: "Laila", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}
.contForm a:hover{
    color: #EEAE87;
}

.contFormRegistro{
    background-color: #A41D23;
    color: white;
    font-family: "Laila", serif;
    font-weight: 700;
    font-style: normal;
    padding: 15%;
    padding-top: 5%;
    line-height: 45px;
}
.contFormRegistro a{
    text-decoration: none;
    color: white;
    text-decoration: underline;
    font-family: "Laila", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}
.contFormRegistro a:hover{
    color: #EEAE87;
}
@media screen and (max-width:767px){
    .contLogin{
        display: flex;
        flex-direction: column-reverse;
    }
    .contRegistro{
        display: flex;
        flex-direction: column;
    }
    .contForm{
        padding: 5%;
    }
    .contFormRegistro{
        padding: 5%;
    }
    .titulo h1{
        font-size: 100%;
    }
}

@media screen and (min-width:768px) and (max-width:1080px){
    .contLogin{
        display: grid;
        grid-template-columns: 40% 60%;
    }
    .contRegistro{
        display: grid;
        grid-template-columns: 60% 40%;
    }
    .contForm{
        padding: 5%;
    }
    .contFormRegistro{
        padding: 5%;
    }
    .titulo h1{
        font-size: 150%;
    }
    .imgPrincipal img{
        visibility: collapse;
    }
    .contImgs{
        background-image: url('../imgs/imgMain.png');
        background-size:115%;
        background-repeat: no-repeat;
        background-position: center;
    }
}